.add {
  min-height: 100vh;
}

.form-container {
  min-height: 300px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  max-width: 500px;

  margin: auto;

  box-shadow: 0px 0px 7px 2px #0003;
}
.form-container .input-con {
  /* color: #fff; */
  font-size: 1.2rem;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff; */
  max-width: 300px;
}
.form-container .input-con input {
  padding: 5px;
  border: none;
  outline: none;
  font-size: 1rem;
  /* background-color: rgb(219, 243, 232); */
  border-bottom: 2px solid #0003;
  margin: 10px;
}

.form-container button {
  margin-top: 20px;
  border: none;
  background-color: #9e2aeb;
  color: #fff;
  padding: 10px;
  opacity: 1;
  letter-spacing: 1px;
  line-height: 2;
}
.form-container button:hover {
  opacity: 0.8;
}
